@CHARSET "UTF-8";

div#content {
	padding-top: 50px;
}

.row {
	background-color: #C4C4C7;
}

.tlrow {
	padding-bottom: 1em;
}

.tlrow:first-child {
	padding-top: 1em;
}

.tlrow:last-child {
	padding-bottom: 0;
}

.ui-autocomplete {
	/* ref: http://stackoverflow.com/a/10675943/577298 */
	position: absolute;
	cursor: default;
	z-index: 30000 !important;
}