<div class="container">
	<div class="row tlrow">
		<div class="col-md-12">
			<div class="panel-heading">
				<h1>Orders for Billy Johnson</h1>
			</div>
			<div class="panel-body">
				<table class="table">
					<tbody>
						<tr>
							<td>1970-01-01 00:00:00</td>
							<td><a href="view_order2.html">32452</a></td>
							<td>Billy Johnson</td>
							<td>Kohler K-934-4, Delta RP52382, Speakman S-2252</td>
							<td><a href="http://www.faucetdirect.com">FaucetDirect.com</a></td>
						</tr>
					</tbody>
				</table>
				<div>
					<p class="text-right">
						<a href="">Older Orders</a>
					</p>
				</div>
				<a href="create_order.html" class="btn btn-primary">Create Order</a>
			</div>
		</div>
	</div>
</div>
