<!DOCTYPE html>
<html>
<head>
<!-- boilerplate head tags -->
<meta http-equiv="Content-Type"
	content="text/html; charset=windows-1252">
<meta name="viewport" content="width=device-width, inital-scale=1.0">
<link href="../css/bootstrap.min.css" rel="stylesheet">
<link href="../css/styles.css" rel="stylesheet">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<link rel="stylesheet"
	href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
<script src="../js/local.js"></script>
<script src="../js/bootstrap.js"></script>
<script>
	$(function() {
		$("#navigation").load("nav.html", function() {
			//ref: https://jqueryui.com/autocomplete/
			//ref: http://stackoverflow.com/a/4450861/577298
			$("#search").autocomplete({
				source : availableTags
			});
		});
	});
</script>
</head>
<body>
	<div id="navigation"></div>
	<div id="search-results"></div>
	<div id="content">
		<div class="container">
			<div class="row tlrow">
				<div class="col-xs-12">
					<div class="panel-heading">
						<h1>Create Order</h1>
						<p>for Jane Doe (#1200893321)</p>
					</div>
				</div>
			</div>
			<div class="row tlrow">
				<div class="col-xs-12">
					<div class="row">
						<div class="col-xs-12 col-md-3 col-lg-3 pull-left">
							<div class="panel panel-default height">
								<div class="panel-heading">Billing Details</div>
								<div class="panel-body">
									<strong>David Peere:</strong><br> 1111 Army Navy Drive<br>
									Arlington<br> VA<br> <strong>22 203</strong><br>
								</div>
								<div class="text-right" style="padding: .5em">
									<a href="">Edit</a>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-md-3 col-lg-3">
							<div class="panel panel-default height">
								<div class="panel-heading">Payment Information</div>
								<div class="panel-body">
									<strong>Card Name:</strong> Visa<br> <strong>Card
										Number:</strong> ***** 332<br> <strong>Exp Date:</strong> 09/2020<br>
								</div>
								<div class="text-right" style="padding: .5em">
									<a href="">Edit</a>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-md-3 col-lg-3">
							<div class="panel panel-default height">
								<div class="panel-heading">Order Preferences</div>
								<div class="panel-body">
									<strong>Gift:</strong> No<br> <strong>Express
										Delivery:</strong> Yes<br> <strong>Insurance:</strong> No<br>
									<strong>Coupon:</strong> No<br>
								</div>
								<div class="text-right" style="padding: .5em">
									<a href="">Edit</a>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-md-3 col-lg-3 pull-right">
							<div class="panel panel-default height">
								<div class="panel-heading">Shipping Address</div>
								<div class="panel-body">
									<strong>David Peere:</strong><br> 1111 Army Navy Drive<br>
									Arlington<br> VA<br> <strong>22 203</strong><br>
								</div>
								<div class="text-right" style="padding: .5em">
									<a href="">Edit</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row tlrow">
				<div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="text-center">
								<strong>Order Summary</strong>
							</h3>
						</div>
						<div class="panel-body">
							<div class="table-responsive">
								<table class="table table-condensed">
									<thead>
										<tr>
											<td></td>
											<td><strong>Item Name</strong></td>
											<td class="text-center"><strong>Item Price</strong></td>
											<td class="text-center"><strong>Item Quantity</strong></td>
											<td class="text-right"><strong>Total</strong></td>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>
												<button class="btn btn-default">Remove</button>
											</td>
											<td style="vertical-align: middle">Samsung Galaxy S5</td>
											<td class="text-center">$900.00</td>
											<td class="text-center">1</td>
											<td class="text-right">$900.00</td>
										</tr>
										<tr>
											<td>
												<button class="btn btn-default">Remove</button>
											</td>
											<td>Samsung Galaxy S5 Extra Battery</td>
											<td class="text-center">$30.00</td>
											<td class="text-center">1</td>
											<td class="text-right">$30.00</td>
										</tr>
										<tr>
											<td>
												<button class="btn btn-default">Remove</button>
											</td>
											<td>Screen protector</td>
											<td class="text-center">$7.00</td>
											<td class="text-center">4</td>
											<td class="text-right">$28.00</td>
										</tr>
										<tr>
											<td class="highrow"></td>
											<td class="highrow"></td>
											<td class="highrow"></td>
											<td class="highrow text-center"><strong>Subtotal</strong></td>
											<td class="highrow text-right">$958.00</td>
										</tr>
										<tr>
											<td class="emptyrow"></td>
											<td class="emptyrow"></td>
											<td class="emptyrow"></td>
											<td class="emptyrow text-center"><strong>Shipping</strong></td>
											<td class="emptyrow text-right">$20.00</td>
										</tr>
										<tr>
											<td class="emptyrow"></td>
											<td class="emptyrow"></td>
											<td class="emptyrow"></td>
											<td class="emptyrow text-center"><strong>Total</strong></td>
											<td class="emptyrow text-right">$978.00</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div>
								<button type="button" class="btn btn-default"
									data-toggle="modal" data-target="#add-item">Add Item</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row tlrow" style="padding-left: 1em; padding-right: 1em;">
				<div class="pull-right">
					<button type="button" class="btn btn-default" onclick="goBack()">Cancel</button>
					<button type="button" class="btn btn-primary">Create</button>
				</div>
			</div>

			<!-- Add Item Dialog -->
			<div class="modal fade" id="add-item" tabindex="-1" role="dialog"
				aria-labelledby="add-item-label" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<h4 class="modal-title" id="add-item-label">Add Item</h4>
						</div>
						<div class="modal-body">
							<form role="form">
								<div class="form-group">
									<div style="margin-bottom: 1em">
										<label for="item-id">Item ID:</label><input class="pull-right"
											name="item-id" type="text" />
									</div>
									<div>
										<label for="quantity">Quantity:</label><input
											class="pull-right" name="quantity" type="number" min="1"
											value="1" />
									</div>
								</div>
							</form>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default"
								data-dismiss="modal">Cancel</button>
							<button type="button" class="btn btn-primary">OK</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>