<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, inital-scale=1.0">
<link href="../css/bootstrap.min.css" rel="stylesheet">
<link href="../css/styles.css" rel="stylesheet">
<style>
.row {
	background-color: #C4C4C7;
}

.tlrow {
	padding-bottom: 1em;
}

.tlrow:first-child {
	padding-top: 40px;
}
p { margin:0 }
</style>

<!-- for search bar -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css">
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script> -->
<script src="../js/local.js"></script>
<script src="../js/bootstrap.js"></script>
<!-- Load HighCharts JS -->
<script src="../js/highcharts.js"></script>
<script src="../js/hc_modules/exporting.js"></script>
<script src="../js/reportsGraphs.js"></script>

</head>
<body>
	<div id="navigation"></div>
	<div id="search-results"></div>

	<div class="container">
		<div class="row tlrow">
			<div class="col-md-12">

				<ul class="nav nav-tabs" role="tablist" id="myTab">
					<li role="presentation" class="active"><a href="#g1" aria-controls="g1" role="tab" data-toggle="tab">Monthly Sales</a></li>
				  	<li role="presentation"><a href="#g2" aria-controls="g2" role="tab" data-toggle="tab">Individual Sales</a></li>
				  	<li role="presentation"><a href="#g3" aria-controls="g3" role="tab" data-toggle="tab">Yearly Sales</a></li>
				</ul>

				<div class="tab-content">
				  	<div role="tabpanel" class="tab-pane active" id="g1"><div id="graph1"></div></div>
				  	<div role="tabpanel" class="tab-pane" id="g2">
				  		<div id="graph2" style="width: 1130px; height: 100%; margin: 0 auto"></div>
				  	</div>
				  	<div role="tabpanel" class="tab-pane" id="g3">
				  		<div id="graph3" style="width: 1130px; height: 100%; margin: 0 auto"></div>
				  	</div>
				</div>

			</div>
		</div>
	</div>
</body>
</html>