<div class="container">
	<div class="row tlrow">
		<div class="col-md-12">
			<div class="panel-heading" id="header">
				<h1>Orders for Sarah Jensen</h1>
			</div>
			<div class="panel-body">
				<table class="table">
					<tbody>
						<tr>
							<td>1970-01-01 00:00:00</td>
							<td><a href="view_order.html">12345</a></td>
							<td>Sarah Jensen</td>
							<td>Kohler K-99261, MinkaAire Concept II 44</td>
							<td><a href="http://www.build.com">Build.com</a></td>
						</tr>
					</tbody>
				</table>
				<div>
					<p class="text-right">
						<a href="">Older Orders</a>
					</p>
				</div>
				<a href="create_order.html" class="btn btn-primary">Create Order</a>
			</div>
		</div>
	</div>
</div>
